
:host {
  display: block;
  --jeep-stretchy-header-image:url(https://raw.githubusercontent.com/jepiqueau/jeep/master/assets/images/italy-mountains.jpeg);
  --jeep-stretchy-header-height: 150px;
}

.stretchy-header {
  height: var(--jeep-stretchy-header-height);
}

.stretchy-header-background {
  background-image: var(--jeep-stretchy-header-image);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.stretchy-header.back {
  transition: height 0.4s linear;
}
.stretchy-header-background.blur {
  transition:all 1.0s ease-in-out;
  -webkit-transition:all 1.0s ease-in-out;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
.stretchy-header-background.unblur {
  transition:all 0.4s ease;
  -webkit-transition:all 0.4s ease;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

