
/**
 *Local custom CSS variables
 */
 :host {
  --cpicker-top: 10vh;
  --cpicker-left: 10vw;
  --cpicker-width: 70vmin;
  --cpicker-height: 50vmin;
  --cpicker-background-color: #242424;
}

.cpicker-container {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
  overflow: hidden;
}
.cpicker-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;        
}    
#cpickerBackground {
fill: var(--cpicker-background-color);
}
#cpickerWhite, #cpickerSliderWhite {
fill: #dddddd;
fill-opacity: 0.4;
}
.pattern-cube {
fill: #022460;  
fill-opacity: 0.4;
}






/*
#cpickerSliderOpacity {
fill: url(#opacitySliderGradient);
}
#cpickerSliderHueColor {
fill: url(#colorSliderGradient);
}
#cpickerTransparency, #cpickerTransparencySlider {
fill: url(#pattern-transparency);
}
#cpickerGradientS {
fill: url(#cpickerHue);
}
#cpickerGradientB {
fill: url(#cpickerBrightness);
}
*/